.App {
    color: white;
    text-align: center;
  }

  .App-text {
    background-color: #282c34;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
  }

  .App-text2 {
    background-color: #282c34;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 20px;
    color: white;
  }

  .App-text3 {
    background-color: #282c34;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 15px;
    color: white;
  }

  

  .complaintButton {
    background-color: #282c34;
    min-height: 20px;
    width: 300px;
    
    display: inline-block;
    
    
    padding: 15px 32px;
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    color: white;
  }

  .App-header2 {
    background-color: #282c34;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-size: 30px;
    color: white;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    font-family: Verdana;
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
  
  .box {
    border-radius: 25px;
    border: 2px solid #e0ac1c;
    padding: 30px;
  }

  .box-subject {
    font-size: 20px;
    text-align: left; 
  }

  .box-description {
    font-size: 13px;
    text-align: left;
    min-height: 60px; 
  }

  .box-user {
    font-size: 20px;
    text-align: left; 
  }

  .box-title {
    font-size: 16px;
    text-align: left; 
  }

  .box-right {
    font-size: 14px;
    text-align: right; 
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
  
  textarea {
    color: rgb(24, 24, 26);
    font-size: 13px;
    width: 500px;
    font-family: Verdana;
  }
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .App-logo {
    height: 40vmin;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  

  /* SWITCH AND SLIDER */

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  /* BUTTONS */

  button,
  .button {
    color: #fdfeff;
    border: var(--custom-border);
    background-color: #e0ac1c;
    display: inline-block;
    text-align: center;
    border-radius: var(--custom-border-radius);
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  button.greenButton,
  .greenButton {
    background-color: #5da030;
    
  }s

  button.redButton,
  .redButton {
    background-color: #971313;
  }
  
  button.primary,
  .button.primary {
    background-color: var(--custom-color-brand);
    border: 1px solid var(--custom-color-brand);
  }